@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  border-radius: 10px;
}

.main {
  // background-image: url('../assets/img/theme.png');
  // background-size: cover;
  // background-position: center;
  background-color: #FEFAE0;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color: rgb(21 128 61) !important;
    border-color: transparent;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: rgb(21 128 61);
    border-color: rgb(21 128 61);
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, :where(.css-dev-only-do-not-override-1k979oh).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
    border-color: rgb(21 128 61);
}